/* 
<section className='full-page'>
      <article className='setting-box'>
        <a href='http://localhost:3000/logout'>Sign out</a>
      </article>
    </section>
*/

@import url('default.css');

.full-page{
    font-size: larger;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
    animation: fadeInWTranslate 1.2s ease;
}

.title{
    margin-bottom: 2rem;
}

.setting-box{
    width: 50rem;
    height: 10rem;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;

    background:#101624;
    border:1px solid rgba(255,255,255,.05);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.signout-btn{
    background-color: #3B1018;
    border-radius: var(--border-radius);
    border:1px solid #7A2735;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    transition: 0.1s ease;
    color: #D43A46;
}

.marg-top{
    margin-top: auto;
}

.signout-btn:hover{
    background-color: #953041;
}

.sign-out-txt{
    color: rgb(148, 61, 61);
    font-weight: bold;
}

.subscription-btn{
    all: unset;
    background-color: #101624;
    padding: 0.8rem 1rem;
    border:1px solid rgba(255,255,255,.05);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
}

.subscription-btn:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,.05);
}

.sub{
    height: 13rem;
}

.bill-txt{
    max-width: 25rem;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeInWTranslate {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}